<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>Show</title>
</head>

<body>
	<div class="container mt-5">
		<h1 class="mb-4">Dettagli del Ticket</h1>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">ID Ticket: <span th:text="${ticket.id}"></span></h5>
				<p class="card-text"><strong>Title:</strong> <span th:text="${ticket.title}"></span></p>
				<p class="card-text"><strong>Description:</strong> <span th:text="${ticket.description}"></span></p>
				<p class="card-text"><strong>Status:</strong> <span th:text="${ticket.status}"></span></p>
				<p class="card-text"><strong>Date Creation:</strong> <span th:text="${note.dataCreazione}"></span></p>
				<p class="card-text"><strong>Date Update:</strong> <span th:text="${ticket.dateUpdate}"></span></p>
				<p class="card-text"><strong>Category:</strong> <span th:text="${ticket.category.name}"></span></p>
				<p class="card-text"><strong>User:</strong> <span th:text="${ticket.getUser().getName()}"></span></p>
				<h5 class="mt-4">Notes</h5>
				<ul class="list-group">
					<li class="list-group-item" th:each="note : ${ticket.notes}">
						<span th:text="${note.testo}"></span>
					</li>
				</ul>
				<h5 class="mt-4">Add Note</h5>
				<form th:action="@{/ticket/{id}/addNote(id=${ticketId})}" th:object="${note}" method="post">
					<div class="mb-3">
						<label for="testo" class="form-label">Nota</label>
						<textarea class="form-control custom-form-control" id="testo" name="testo" th:field="*{testo}"
							rows="5"></textarea>
						<div th:if="${#fields.hasErrors('testo')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('testo')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<button type="submit" class="btn btn-purple rounded mt-4 fs-5">Inserisci nota</button>
				</form>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>